@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #ffffff;
    --top-background-color: #f0f9ff;
    --card-background-color: #e9ecef;
    --card-background-hover-color: #e1e4f0;
    --text-color: #718096;
    --text-color-strong: #1d3557;
    --toggle-color-start: #aeb3cb;
    --toggle-color-end: #aeb3cb;

    /* Social Media Colors */
    --facebook: #178ff5;
    --twitter: #1da1f2;
    --instagram-start: #fdc366;
    --instagram-end: #df4896;
    --youtube: #c4032b;

    --radius: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  .dark {
    /* Dark Theme Colors */
    --background-color: #1d1f29;
    --top-background-color: #20222f;
    --card-background-color: #252b42;
    --card-background-hover-color: #333a55;
    --text-color: #747d83;
    --text-color-strong: #ffffff;
    --toggle-color-start: #40db82;
    --toggle-color-end: #388fe7;

    /* Social Media Colors */
    --facebook: #178ff5;
    --twitter: #1da1f2;
    --instagram-start: #fdc366;
    --instagram-end: #df4896;
    --youtube: #c4032b;
  }
}
