@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #ffffff; /* Originally White (BG) */
    --top-background-color: #f0f9ff; /* Originally Very Pale Blue (Top BG Pattern) */
    --card-background-color: #e9ecef; /* Originally Light Grayish Blue (Card BG) */
    --text-color: #718096; /* Originally Dark Grayish Blue (Text) */
    --text-color-strong: #1d3557; /* Originally Very Dark Blue (Text) */
    --toggle-color: #bbdefb; /* Originally Toggle */

    /* Social Media Colors */
    --facebook: #3b5998; /* hsl(208, 92%, 53%) */
    --twitter: #1da1f2; /* hsl(203, 89%, 53%) */
    --instagram-start: #f7b42c; /* hsl(37, 97%, 70%) */
    --instagram-end: #fc575e; /* hsl(329, 70%, 58%) */
    --youtube: #ff0000; /* hsl(348, 97%, 39%) */

    --radius: 5px;
  }

  .dark {
    /* Dark Theme Colors */
    --background-color: #1D1F29 /* Originally Very Dark Blue (BG) */
    --top-background-color: #20222F /* Originally Very Dark Blue (Top BG Pattern) */
    --card-background-color: #252b42; /* Originally Dark Desaturated Blue (Card BG) */
    --text-color: #8C98C6; /* Originally Desaturated Blue (Text) */
    --text-color-strong: #ffffff; /* Originally White (Text) */
    --toggle-color: #4db5ff; /* Gradient of hsl(210, 78%, 56%) to hsl(146, 68%, 55%) */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme Colors */
    --background-color: #1D1F29; /* Originally Very Dark Blue (BG) */
    --top-background-color: #20222F; /* Originally Very Dark Blue (Top BG Pattern) */
    --card-background-color: #252b42; /* Originally Dark Desaturated Blue (Card BG) */
    --text-color: #747d83; /* Originally Desaturated Blue (Text) */
    --text-color-strong: #ffffff; /* Originally White (Text) */
    --toggle-color: #4db5ff; /* Gradient of hsl(210, 78%, 56%) to hsl(146, 68%, 55%) */
  }
}
